<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación de Donaciones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
 
    <div class="container">
        <h1>Registro de usuarios para donaciones</h1>
 
        <form id="registerForm">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required placeholder="Nombre">
 
            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email" required placeholder="Email">
 
            <button type="submit">Registrar usuario</button>
        </form>
 
        <div id="responseMessage">
 
        </div>
    </div>
 
    <script src="{{ url_for('static', filename="script.js") }}"></script>
 
</body>
</html>